@model tl2_tp6_2024_MauroOrlando2000.Models.Producto

@{ ViewData["Title"] = "Crear producto nuevo"; }

<h1>@ViewData["Title"]</h1>

<form asp-action="CrearProducto" method="post">
    <div class="form-group">
        <label asp-for="Descripcion">Descripcion:</label>
        <input asp-for="Descripcion" style="margin-bottom: 0.25em;" required>
    </div>
    <div class ="form-group">
        <label asp-for="Precio">Precio:</label>
        <input asp-for="Precio" style="margin-bottom: 0.25em;" required>
    </div>
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>