@model tl2_tp6_2024_MauroOrlando2000.Models.Presupuesto

@{ ViewData["Title"] = "Crear Presupuesto"; }

<h1>@ViewData["Title"]</h1>

<form asp-action="CrearPresupuesto" method="post">
    <div class="form-group">
        <label for="NombreDestinatario">Nombre destinatario:</label>
        <input type="text" id="NombreDestinatario" name="NombreDestinatario" required>
        <span asp-validation-for="NombreDestinatario" class="text-danger"></span>
    </div>
    <input type="submit" value="Enviar" class="btn btn-primary">
    <input type="reset" value="Borrar" class="btn btn-danger">
</form>