@model tl2_tp6_2024_MauroOrlando2000.Models.Presupuesto

@{ ViewData["Title"] = "Crear Presupuesto"; }

<h1>@ViewData["Title"]</h1>

<form asp-action="CrearPresupuesto" method="post">
    <div class="form-group">
        <label asp-for="NombreDestinatario">Nombre destinatario:</label>
        <input asp-for="NombreDestinatario" required>
    </div>
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>