@model tl2_tp6_2024_MauroOrlando2000.ViewModels.UserViewModel

@{ 
    ViewData["Title"] = "Inicio de sesión";
    string? fallo = (string)ViewData["Fallo"];
}

<h1>@ViewData["Title"]</h1>

<form asp-action="IniciarSesion" method="post">
    <div class="form-group">
        <label asp-for="Usuario">Nombre de usuario:</label>
        <input asp-for="Usuario">
    </div>
    <div class="form-group">
        <label asp-for="Password">Contraseña:</label>
        <input asp-for="Password" type="password">
    </div>
    @if(fallo != null)
    {
        <legend style="color:red">@fallo</legend>
    }
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>